<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @playlist.user.name %>
</p>



<%= link_to 'Edit', edit_playlist_path(@playlist) %> 
<%= link_to 'Back', playlists_path %>
<h4>Ingresa una canción</h4>
<%= form_with(model: [@playlist, @song],local: true) do |f|%>

<%= f.label :name %>
<%= f.text_field :name %>
<%=  f.label :artist %>
<%= f.text_field :artist %>
<%= f.submit %>
<% end %>


<table class= 'table table dark'>
  <thead >
    <tr>
      <th>Artist</th>
      <th>Name</th>
      </tr>
      </thead>
      <tbody>

<% @playlist_song.each do |s|%>
<tr>
<td>
<%= s.artist %>
</td>
<td>
<%= s.name %>
</td>
<td>
<%= link_to 'Delete', playlist_song_path(@playlist, s), method: :delete, class: 'badge badge-secondary' %>

<% end %>
</td>
</tr>

</tbody>
</table>